@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #424242;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}


@mixin mobile {
    @media (min-width: 0px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

$primaryDarkerColor : #206a5d;
$primaryDarkerColorAlternative : #1b5d51;
$primaryColor : #81b214;
$primaryColorDark : #cf8a36;
$defaultColor : #ffcc29;
$secondaryColor : #f58634;

$transparentPrimaryDarkerColor : #206a5d71;
$transparentDarkerPrimaryDarkerColor : #206a5dd3;

.text-danger {
    color: $secondaryColor;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: $primaryDarkerColor;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.navbar {

    width: 100%;
    margin: auto;
    background: white;
    padding: 15px 0;
    border: 1px solid #eee;

    &-wrapper {
        max-width: 1040px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    & .logo {
        font-size: 1.2rem;
        color: $primaryDarkerColor;
        display: flex;
        align-items: center;

        & a {
            display: flex;

            & #logo-icon {
                height: 44px;
            }

            & span {
                line-height: 44px;
                padding-left: 0.2rem;
                font-weight: 700;
                font-size: 18pt;
            }
        }

    }

    &-list {
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 500;

        & .nav-item {
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            padding: 10px 10px;
            color: $primaryDarkerColor;
            transition: 0.15s ease-in-out all;

            &:hover {
                background-color: $primaryDarkerColor;
                color: #fff;
            }

            & a {
                color: inherit;
                font-size: 12pt;
                line-height: 44px;
                min-width: 44px;
                min-height: 44px;
                display: block;
            }
        }
    }

    & #menu-toggle-container {
        background: transparent;
        border: none;
        z-index: 3;
        cursor: pointer;
        padding: 22px;

        &>span.active {
            right: 35px;

            & span {
                background: #ffffff00;

                &::after {
                    transform: rotate(-45deg);
                    background: #fff;
                    margin-top: 0;
                }

                &::before {
                    margin-top: 0;
                    background: #fff;
                    transform: rotate(45deg);
                }
            }
        }
    }

    & #menu-toggle {
        cursor: pointer;
        display: block;

        & span {
            background: $primaryDarkerColor;
            display: block;
            height: 2px;
            position: relative;
            width: 18px;
            content: "";

            &::after {
                background: $primaryDarkerColor;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
                margin-top: 6px;
            }

            &::before {
                background: $primaryDarkerColor;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
                margin-top: -6px;
            }
        }
    }

}

.container {
    max-width: 1040px;
    margin: auto;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#maincontent {
    width: 100%;

    &>div {
        animation-duration: 0.5s;
        animation-name: fadeIn;
    }
}

@keyframes hero-background-large {

    33%,
    66% {
        background-image: url('../public/images/heros/hero-image_1-large.jpg');
    }

    66%,
    100% {
        background-image: url('../public/images/heros/hero-image_4-large.jpg');
    }
}

@keyframes hero-background-small {

    33%,
    66% {
        background-image: url('../public/images/heros/hero-image_1-small.jpg');
    }

    66%,
    100% {
        background-image: url('../public/images/heros/hero-image_4-small.jpg');
    }
}


.hero {
    margin: auto;
    transition: 0.25s ease-out all;
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &.with-default-bg {
        @include mobile{
            background-image: url('../public/images/heros/hero-image_2-small.jpg');
            animation: hero-background-small 60s infinite step-start;
        }
        @include tablet{
            background-image: url('../public/images/heros/hero-image_2-large.jpg');
            animation: hero-background-large 60s infinite step-start;
        }
        
    }

    &-overlay {
        display: flex;
        align-items: center;
        position: relative;
        min-height: inherit;
        background-color: $transparentPrimaryDarkerColor;
        height: 100%;

        &-darker {
            background-color: $transparentDarkerPrimaryDarkerColor;
        }
    }



    &-content {
        max-width: 1040px;
        margin: auto;
        padding: 32px;

        @include tablet {
            padding: 64px;
        }

        color: #fff;

        @include desktop {
            width: 1040px;
        }

        & .caption {
            @include tablet {
                width: 50%;
            }

            & span {
                font-weight: 800;
                font-size: 3rem;
            }

            & p {
                margin-top: 25px;
            }
        }

        & .resto-caption {
            display: block;
            flex-direction: column;

            @include tablet {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            justify-items: flex-start;

            & .image-container {
                @include tablet {
                    padding: 0px 22px;
                    width: 50%;
                }

                & img {
                    width: 80%;
                    margin-bottom: 25px;

                    @include tablet {
                        width: 100%;
                        margin-bottom: 0;
                    }

                    border-radius: 10px;
                    -webkit-box-shadow: 3px 3px 5px 6px rgba(221, 221, 221, 0.608);
                    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                    -moz-box-shadow: 3px 3px 5px 6px rgba(221, 221, 221, 0.608);
                    /* Firefox 3.5 - 3.6 */
                    box-shadow: 3px 3px 5px 6px rgba(221, 221, 221, 0.608);
                }
            }

            & .text-container {
                @include tablet {
                    width: 50%;
                }

                h1 {
                    font-weight: 700;
                    font-size: 2rem;
                }

                @include desktop {
                    & .rating-item {
                        font-size: 2rem;
                    }
                }
            }

        }

    }
}

.filter-restaurant {
    display: flex;
    width: 100%;
    margin-left: 10px;
    justify-content: flex-end;

    &>div {
        margin-right: 13px;
        width: 100%;
    }

    & label {
        margin-right: 10px;
    }

    & select {
        width: 200px;
        height: 44px;
        padding: 5px 5px 5px 5px;
        text-transform: uppercase;

        @include mobile {
            width: 100%;
        }
    }
}

.list-restaurant {
    display: grid;
    transition: 0.25s ease-in-out all;

    @include mobile {
        grid-template-columns: 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }

    & .item-restaurant {
        display: block;
        width: auto;
        margin: 10px;
        border-radius: 3% 3% 0 0;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

        & .head {
            position: relative;
            display: block;

            & span.city {
                background: $primaryColor;
                padding: 8px 10px;
                color: white;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            & img {
                object-fit: cover;
                width: 100%;
                border-radius: 3% 3% 0 0;

                @include tablet {
                    height: 300px;
                }

                @include desktop {
                    height: 300px;
                }
            }
        }

        & .body {
            padding: 16px;

            @include tablet {
                padding: 32px;
            }

            & .title {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-weight: 500;
                font-size: 1.5rem;
                margin-bottom: 10px;
                transition: all 0.5s ease-in-out;

                &:hover {
                    text-overflow: unset;
                    overflow: unset;
                    display: block;
                }
            }




            & p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                /* number of lines to show */
                -webkit-box-orient: vertical;
                line-height: 180%;
                font-size: 11pt;
            }
        }

        & .footer {
            display: flex;
            border-top: 1px solid #eee;
            justify-content: space-between;

            & div {

                display: block;
                font-weight: 500;
                text-align: center;
                width: 50%;

                &:nth-of-type(odd) {
                    border-right: 1px solid #eee;
                }
            }



        }
    }
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .rating-item {
        color: #FFC107;
        margin-bottom: 5px;
        font-size: 12pt;

        & i {
            color: inherit;
        }

        ;

        & span {
            color: black;
            font-size: 8pt;
        }
    }

    & span {
        font-weight: 400;
        font-size: 16pt;
    }
}

footer.footer {
    border-top: 1px solid #ddd;
    padding: 15px;

    & .content {
        max-width: 1040px;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}

@media screen and (min-width: 0px) {
    .disable-scroll {
        overflow-y: hidden;
        position: fixed;
    }

    .navbar {
        &-list {
            display: none;
        }

        & #menu-toggle-container {
            display: block;
        }
    }

    .mobile-nav {
        z-index: 2;
        transition: 0.25s ease-in-out all;
        background: #fff;
        opacity: 0.95;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .mobile-nav-content {
            color: #fff;
            display: block;

            & span {
                display: block;
                text-align: center;
            }

            & a {
                font-size: 2rem;
                color: inherit;
                display: block;
                position: relative;
                text-transform: uppercase;
                padding: 10px 5px;
                text-align: center;
                transition: 0.25s ease-in-out all;

                &:hover {
                    background: #fff;
                    color: $primaryColor;
                }

                &:active {
                    top: 5px;
                }
            }
        }
    }

    .mobile-nav-active {
        right: 0;
        background: $primaryColor;
    }
}

@media screen and (min-width: 768px) {
    .disable-scroll {
        overflow-y: scroll;
        position: inherit;
    }

    .navbar {
        &-list {
            display: block;
        }

        & #menu-toggle-container {
            display: none;
        }
    }

    .mobile-nav {
        display: none;
    }
}

@import "./utility.scss";
@import "./page-loader.scss";
@import "./detail.scss";
@import "./component.scss";

button.restaurant-save-button {
    border: none;
    background: none;
    cursor: pointer;

    &:active {
        & span.item {
            font-size: 1.2rem;
            padding-top: 2px;
        }
    }
}

.clickable {

    pointer-events: none;
    text-transform: uppercase;
    transition: all 0.1s ease-in;
    font-size: 1rem;
    display: block;
    width: 100%;
    padding: 22px;

    &:hover {
        padding-top: 25px;
        padding-bottom: 19px;
    }

    &-active{
        color: $secondaryColor
    }
}